extends layout

block content
    a.btn.btn--xs.btn--grey.btn--flat.mt(href='javascript:history.back()' id="linkBack")
        i.fa.fa-arrow-left.mr
        | Back
    span.fs-title.display-block.text-center Album Name
    ul.list-inline(class='row')
        if vm !== undefined
            each photo in vm.files
                li.card.m(style='overflow:hidden;position:relative;width:180px' id='imgWrapper' )
                    a(style='cursor:pointer')
                        img(src='http://s3-us-west-2.amazonaws.com/chicagoview/#{photo}')

