extends layout

block content
    div(layout-sm='column', layout-md='column', layout-gt-md='row', layout-lg='column', layout-gt-lg='column')
        if vm!== undefined
            each photo in vm.files
                div.card(style='overflow:hidden;position:relative;width:800px' id='imgWrapper')
                    img(src='http://s3-us-west-2.amazonaws.com/chicagoview/#{photo}')
