doctype html
html
    head
        title my

        link(rel='stylesheet' href=' ../app/bower_components/angular-material/angular-material.min.css')
        link(rel='stylesheet' href=' ../app/bower_components/lumx/dist/lumx.css')
        link(rel='stylesheet' href=' ../app/styles/main.css')
    body
        div(style='background-color:#474341')
            p header
        include menu/left-nav
        block content