doctype html
html
  head
    title= title
    meta(property='og:title' content='#{article.title}')
    base(href="http://cl-express.herokuapp.com/" )
    link(rel='shortcut icon', href='favicon.ico?v=2')
  body
    block content