doctype html
html
    head
        title= vm.title
        meta(charset='UTF-8')

        meta(property='og:title' content="#{title}")
        //meta(property='og:image' content='#{article.img}')
        //meta(property='og:description' content='#{article.summary}')

        base(href="http://cl-express.herokuapp.com/" )
        link(rel='shortcut icon', href='favicon.ico?v=2')

        style
            include ../app/bower_components/angular-material/angular-material.min.css
        style
            include ../app/bower_components/lumx/dist/lumx.css
        style
            include ../app/styles/main.css
    body
        include menu/left-nav
        block content