doctype html
html
    head
        title= vm.title
        meta(charset='UTF-8')

        meta(property='og:title' content="#{title}")
        //meta(property='og:image' content='#{article.img}')
        //meta(property='og:description' content='#{article.summary}')

        base(href="http://cl-express.herokuapp.com/" )
        link(rel='shortcut icon', href='favicon.ico?v=2')

        link(rel='stylesheet' href=' ../app/bower_components/angular-material/angular-material.min.css')
        link(rel='stylesheet' href=' ../app/bower_components/lumx/dist/lumx.css')
        link(rel='stylesheet' href=' ../app/bower_components/styles/main.css')
    body
        div(style='background-color:#474341')
            p header
        include menu/left-nav
        block content