doctype html
html
    head
        title my
        link(rel='stylesheet' href=' ../app/bower_components/angular-material/angular-material.min.css')
        link(rel='stylesheet' href=' ../app/bower_components/lumx/dist/lumx.css')
        link(rel='stylesheet' href=' ../app/styles/main.css')
    body
        include header/header
        div(style='float:left;display:block')
            include menu/left-nav
        div(style='float:left;display:block')
            block content
        div(style='float:right;display:block')
            include menu/right-nav
